/* Fuentes */
@font-face {
  font-family: "Signika";
  src: url("/fonts/Signika-VariableFont_GRAD,wght.ttf");
}

/* Reset y Estilos Globales */
body {
  font-family: "Signika", sans-serif;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: inherit;
}

/* Estructura del Grid Principal */
body {
  display: grid;
  grid-template-areas:
    "nav-top nav-top"
    "aside-nav main-content"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

/* Barra de navegación superior */
.nav-top {
  grid-area: nav-top;
  background-color: #19191c;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo-page-top img {
  height: 40px;
}

.nav-summary {
  display: flex;
  gap: 20px;
}

.button-summary {
  background-color: #19191c;
  color: #ffffffb2;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
}

.button-summary:hover {
  color: #ffffff;
}

.button-summary a {
  text-decoration: none;
  color: inherit;
}

.summary {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #19191c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.summary a {
  display: block;
  color: #ffffffb2;
  padding: 10px 15px;
}

.summary a:hover {
  color: #ffffff;
  background-color: #444;
}

.button-summary:hover .summary {
  display: block;
}

/* Menú lateral */
.nav-aside {
  grid-area: aside-nav;
  background-color: #f0f0f0;
  padding: 20px;
  padding-bottom: 50px;
  overflow-y: auto; /* Permite el scroll vertical */
  height: calc(
    100vh - 60px - 50px
  ); /* Ajusta la altura para que no se solape con el header */
  position: fixed; /* Fija el aside en su lugar */
  top: 60px; /* Desplazado debajo del header fijo */
  width: 220px; /* Ancho fijo */
}

.nav-aside ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 50px;
}

.nav-aside li {
  margin-bottom: 10px;
}

.nav-aside li a {
  display: block;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-aside li a:hover {
  background-color: #19191c;
  color: #fff;
}

/* Contenido principal */
.main-content {
  grid-area: main-content;
  padding: 20px;
  background-color: #eaeaea;
  overflow-y: auto;
  margin-top: 45px;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: #19191c;
  color: white;
  text-align: center;
  padding: 10px;
  height: 50px;
  position: relative;
}

/* Responsividad */
@media (max-width: 768px) {
  body {
    grid-template-areas:
      "nav-top"
      "main-content"
      "aside-nav"
      "footer";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr;
  }

  .nav-aside {
    position: static;
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .nav-top {
    position: static;
  }
}

.example-title {
  text-align: center;
}
.example {
  display: flex;
  justify-content: center;
  background-color: #444;
  border: #333;
  border-radius: 50px;
  gap: 30px;
}
